body
{
  font-family: calibri; background:url(https://media.torque.com.sg/public/2019/03/Bugatti-Chiron-front-exterior-4.jpg)no-repeat;
  background-size:100% 100%;
  background-position:center;
  background-color:black;
  
}
font.title
{
font-size: 42px;
font-weight: bold;
color:white;
text-shadow:2px 5px 2px black;
}
font.cuerpo
{
font-size: 17px;
font-weight: bold;
color:white;  
text-shadow:2px 5px 2px black;
}
#marco
{
  padding:25px;
  border-radius:30px 30px 30px 30px;
  box-shadow:7px 30px 30px;
}
#inputs
{
  padding:2px;
  border-radius:10px 10px 10px 10px;
  box-shadow:10px 10px 30px;
  border-color:#005CFF;
  color:black;
} 
#boton
{
  padding:10px; 
  border-radius:15px 15px 15px 15px;
  box-shadow: 10px 8px 20px;
  font-weight: bold;
  color:white;
  background-color:#005CFF;
  border-color:white;
}
